.filterOption {
  padding-top: 5rem;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}
.filterOption select {
  font-size: 1rem;
  padding: 5px 10px;
  text-transform: capitalize;
}
.filterOption button {
  display: block;
  padding: 5px 10px;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 4px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.filterOption button:hover {
  color: black;
  background-color: white;
}
