@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@import "./Banner.css";
@import "./LoginScreen.css";
/* @import './Nav.css'; */
@import "./Rows.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --first: #032541;
  --second: #17b7db;
  --three: #01BBE8;
  --four: #11c7c3;
  --five: #6feabc;

  --gray: #e7e6e1;
  --light: #f7f6e7;
  --orange: #f2a154;
  --black: #314e52;
  --black50: #5c5470;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--light);
  min-height: 200vh;
}
