.banner {
  width: 100%;
  position: relative;
  height: calc(25vw + 25vh);
  color: white;
  object-fit: cover;
}

.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to left,
    transparent,
    rgb(3, 37, 65, 0.2),
    rgb(3, 37, 65, 0.5),
    rgb(3, 37, 65, 0.8)
  );
}

.banner__contents {
  position: relative;
  width: 80vw;
  padding: 20px 0;
  margin: auto;
  /* height: 190px; */
}

.banner__title {
  margin-top: 4rem;
  font-family: cursive;
  text-transform: uppercase;
  font-size: calc(12px + 3vw);
  font-weight: 800;
  padding-bottom: 20px;
}
.banner__description {
  padding-top: 20px;
  width: 45rem;
  line-height: 1.3;
  font-weight: 300;
  font-size: calc(10px + 1vw);
  max-width: 70vw;
  color: rgb(231, 231, 231);
  /* height: 80px; */
}
.banner__gradient {
  position: absolute;
  bottom: 0;
  inset: 0;
  z-index: 1;
  background: linear-gradient(to top,
    rgba(255, 255, 255)0%,
    transparent 5%
  );
}

.banner__detail {
  gap: 20px;
  display: inline-flex;
  align-items: center;
}
.banner__detail span {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}
.banner__detail span .icon {
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.banner__detail span .icon:hover {
  transform: scale(1.1);
}
