/* More Details */
.more-details {
  margin: 30px auto;
  display: flex;
  position: relative;
}

/* Social container*/

.Socials {
  flex: 1;
  min-width: 300px;
  position: relative;
}
.Socials .box-shadow {
  position: absolute;
  width: 50px;
  top: 0;
  left: -50px;
  bottom: 0;
  background: linear-gradient(to right, transparent, #fff);
}
.icon {
  margin-right: 10px;
  cursor: pointer;
}
.keywords,
.social {
  margin-left: 30px;
  margin-bottom: 10px;
}
.keywords__title,
.social__title {
  font-size: 1.4rem;
  font-weight: 600;
}
.keywords__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.keywords-card {
  padding: 5px 10px;
  background: gray;
  color: white;
  text-transform: capitalize;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}
@media (max-width: 35em) {
  .more-details {
    display: block;
    margin: 20px auto;
  }
  .cast .box-shadow {
    position: relative;
    width: 50px;
    top: 50%;
    right: 0px;
    bottom: 0;
    background: linear-gradient(to right, transparent, #fff);
  }
  .social,
  .keywords {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

/* Relates */

.Relates {
  position: relative;
}
.Relates .box-shadow {
  position: absolute;
  width: 50px;
  top: 0;
  right: 0px;
  bottom: 0;
  background: linear-gradient(to right, transparent, #fff);
}
.related__container {
  margin: 10px auto;
  display: flex;
  overflow-y: hidden;
  padding: 10px;
  text-align: center;
  scrollbar-width: thin;
  gap: 10px;
}
.related__container::-webkit-scrollbar {
  height: 8px;
}
.related__container::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.273);
  border-radius: 100vmax;
}
.related__link {
  text-decoration: none;
  border-radius: 5px;
  min-width: 250px;
}
.related__img {
  position: relative;
  width: 250px;
}
.related__link img {
  height: 140px;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.related__star {
  position: absolute;
  font-size: 1.5rem;
  right: 10px;
  bottom: 10px;
  color: #ffe600;
}
.related__name {
  font-size: 1rem;
  color: #222;
  font-weight: 500;
}
