.trending {
  margin: 10px auto;
  background-color: #f3f3f3;
}
.trending__setting {
  display: flex;
  align-items: center;
  gap: 20px;
}
.trending__title {
  color: #222;
  text-transform: uppercase;
  margin: 5px 10px;
}

.trending__buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--four);
  border-radius: 100vmax;
  overflow: hidden;
}

.trending__btn {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px 20px;
  /* border-radius: 100vmax; */
  color: #444;
  border: none;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}
.trending__btn:hover,
.isActive {
  background-color: var(--first);
  color: var(--five);
}

.trending__row {
  position: relative;
}
.trending__row .box-shadow {
  position: absolute;
  width: 50px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  box-shadow: -20px 0px 3px -5px rgb(255, 255, 255, 0.7) inset;
}
@media (max-width: 60em) {
  .trending__setting{
    gap: 10px;
  }
  .trending__title {
    font-size: 16px;
  }
  .trending__btn{
    font-size: 14px;
    padding: 3px 8px;
  }
}
@media (max-width: 40em) {
  .trending__title {
    font-size: 12px;
  }
  .trending__btn{
    font-size: 10px;
  }
}
