.row__container {
  display: flex;
  /* gap: 15px; */
  overflow: hidden;
  overflow-x: auto;
  scrollbar-width: thin;
  padding-top: 10px;
}
.color-change-2x {
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	animation: color-change-2x 2s linear infinite alternate both;
}
@-webkit-keyframes color-change-2x {
  0% {
    /* background: #19dcea; */
    background: #19dcea7e;
  }
  100% {
    /* background: #b22cff; */
    background: #b22cff73;
  }
}
@keyframes color-change-2x {
  0% {
    background: #19dcea7a;
  }
  100% {
    background: #b22cff79;
  }
}

.row__container::-webkit-scrollbar {
  height: 8px;
}
.row__container::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to left,
    rgb(111, 234, 188),
    rgb(23, 183, 219),
    rgb(111, 234, 188)
  );
  border-radius: 100vmax;
}

.row__post_container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.row__poster {
  z-index: 1;
  overflow: hidden;
  border-radius: 1vmax;
  cursor: pointer;
}
.row__poster img {
  height: 200px;
  border-radius: 1vmax;
  object-fit: contain;
  transition: all 0.4s ease-out;
}
.row__poster:hover img {
  scale: 1.1;
}
.row_details {
  color: #333;
  text-align: center;
}
.movie_title {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.2s ease-out;
}
.movie_title:active,
.movie_title:hover {
  color: var(--four);
}

.movie_release_date {
  text-transform: capitalize;
  font-size: 14px;
}
@media (max-width: 60em) {
  /* .row__poster img {
    height: 160px;
  }
  .movie_title {
    font-size: 14px;
  }
  .movie_release_date {
    font-size: 10px;
  } */
}
@media (max-width: 50em) {
  /* .row__poster img {
    height: 130px;
  }
  .movie_title {
    font-size: 12px;
  }
  .movie_release_date {
    font-size: 8px;
  } */
}
