:root {
  --black-900: rgb(8, 8, 10);
  --black-800: rgb(13, 12, 15);
  --black-700: rgb(30, 30, 30);
  --black-600: rgb(40, 38, 45);
  --gray: rgb(156, 164, 171);
  --white: rgb(255, 255, 255);
  --green: rgb(0, 146, 93);
  --red: rgb(235, 61, 93);
  --yellow: rgb(255, 205, 25);
}

.credits__screen {
  color: var(--white);
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 15px;
  margin: 50px auto;
}
.credits__screen h1 {
  text-transform: uppercase;
  margin: auto;
  text-align: center;
  width: 90%;
  border-bottom: 4px solid var(--white);
  margin-bottom: 10px;
}

.credits__cast {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media (max-width: 35em) {
  .credits__screen {
    display: block;
  }
}
