.detailScreen {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.detailScreen::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.7)
  );
  /* filter: blur(10px); */
}
.detailContainer {
  width: 95vw;
  margin: 0 auto;
  position: relative;
  top: 80px;
  display: flex;
  gap: 30px;
  align-items: flex-start;
  justify-content: space-evenly;
}
.detailContainer .img {
  flex: 0.3;
}
.detailContainer .img img {
  display: block;
  border-radius: 1vmax;
  margin: 0 auto;
  width: 23vw;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 0.7;
  color: #fff;
}
.details .title {
  font-size: calc(10px + 4vw);
}
.details .title span {
  color: rgb(150, 150, 150);
  font-weight: 400;
  font-size: calc(10px + 3vw);
}
.details .desc {
  display: flex;
  gap: 10px;
  font-size: calc(10px + 1vw);
}
.details .icons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.details .icon {
  cursor: pointer;
  background: #222;
  color: #fff;
  font-size: 3rem;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.2s ease-out;
}
.details .icon:hover {
  transform: scale(0.9);
  background-color: #fff;
  color: #222;
}
.details .btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.2s ease-out;
}
.details .btn:hover {
  transform: scale(0.9);
}

.details .disc {
  font-size: 1.2rem;
  font-weight: 300;
  width: 80%;
  color: #c9c9c9;
}
