.signup {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signup .verify{
  color: #ff1c0b;
  font-size: 1rem;
  padding: 30px 0;
}

.signup__container {
  width: 400px;
  background: #000;
  color: #fff;
  border-radius: 10px;
}

.signup__container form {
  margin: 40px auto;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.signup__container input {
  padding: 5px 10px;
  border: 0;
  font-size: 1.2rem;
  outline: 0;
  border-radius: 5px;
  border-left: 10px solid red;
}
.signup__container input:focus-within {
  border-left: 10px solid rgb(11, 173, 92);
  outline: 2px solid #ff1c0b;
  outline-offset: 3px;
}

.signup button[type="submit"] {
  font-size: 1rem;
  font-weight: 600;
  background: #ff1c0b;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.signup button[type="submit"]:hover {
  background: #b61509;
}

.signup__change{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.signup button {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background: transparent;
  border: none;
  cursor: pointer;
}
.signup button:hover {
  opacity: 0.7;
}

.signup__success{
  width: 400px;
  padding: 20px 30px;
  border: 1px solid lightslategray;
  border-radius: 5px;
}
.signup__success h1{
  font-size: 2.5rem;
  text-align: center;
  color: lightseagreen;
}
.signup__success .btn{
  text-align: center;
  font-weight: 600;
  color: rgb(23, 127, 192);
}