.logo_images {
  margin: 40px auto;
  overflow: hidden;
  width: 90%;
  display: flex;
  align-items: center;
}
.logo_image {
  margin-right: 30px;
  width: 50px;
  object-fit: fill;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}
.logo_image:hover {
  transform: scale(0.9);
}
