.loginScreen__background {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  z-index: 1;
  height: 100vh;
}
.loginScreen {
  position: relative;
  height: 100%;
}

.loginScreen__logo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
}
.loginScreen__button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  color: aliceblue;
  background-color: #ff1c0b;
  border: 0;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
.loginScreen__button:hover {
  background-color: #9c1208;
}
.loginScreen__body{
  position: absolute;
  top: 30%;
  left: 20%;
  right: 20%;
}
.loginScreen__body h1{
  font-size: 2.5rem;
}
.loginScreen__body h2{
  font-size: 2rem;
}
.loginScreen__body h3{
  font-size: 1.2rem;
  font-weight: 400;
}
.loginScreen__body h1,
.loginScreen__body h2,
.loginScreen__body h3 {
  color: aliceblue;
  text-align: center;
  line-height: 1.8;
}
.loginScreen__inputs{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginScreen__inputs button {
  cursor: pointer;
  padding: 10px 30px;
  background-color: #ff1c0b;
  color: aliceblue;
  border:0;
  border-radius: 1vmax;
  font-size: 1rem;
}
.loginScreen__inputs button:hover {
  background-color: #9c1208;
}