.filterContainer {
    padding-top: 4rem;
    padding-bottom: 1rem;
    max-width: 95%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.filterOption select {
    margin-left: 5px;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 1vmax;
    text-transform: capitalize;
    cursor: pointer;
}
.filterPageBtn{
  display: flex;
  gap: 5px;
  flex-basis: 1;
}
.filterPageBtn .pageBtn{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.filterPageBtn .pageBtn.active{
  background: var(--red);
}
.infinityScreen{
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

