.mediaSection {
    display: flex;
}
@media screen and (max-width: 600px) {
    .mediaSection {
        display: block;
    }
}
// CastSection
.castSection_main {
    overflow-y: hidden;
    /* position: relative; */
}
.castSection_container {
    padding: 10px 0;
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.castSection_container::-webkit-scrollbar {
    height: 8px;
}
.castSection_container::-webkit-scrollbar-thumb {
    background: var(--black-700);
}
.castSection_card {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 130px;
    box-shadow: 0 1px 5px 1px var(--black-600);
}
.castSection_card .castSection_img {
    width: 130px;
}
.castSection_img img {
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
    background-position: bottom;
    border: 1px solid #aaa;
}
.castSection_name {
    font-size: 18px;
}
.castSection_char {
    font-size: 12px;
}
@media (max-width: 100em) {
    .box-shadow-credits {
        position: absolute;
        width: 60px;
        top: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right, transparent,#1010107a, #101010da, var(--black-800));
    }
}

// Socials
.socials_icons {
    display: flex;
    gap: 10px;

    .icon {
        background-color: #fff;
        padding: 4px;
        transition: scale 0.3s ease-in-out;

        &:hover {
            scale: 0.9;
        }
    }
}
.socials_keywords {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .keyword {
        flex-grow: 2;
        padding: 5px 10px;
        /* background: gray; */
        border: 1.5px solid var(--black-700);
        color: var(--white);
        text-transform: capitalize;
        font-size: 14px;
        border-radius: 4px;
        cursor: pointer;
    }
}

/*
    Detail
*/
.details__main {
    position: relative;
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit: contain; */
    /* overflow: hidden; */
}
.details__main::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, var(--black-800) 0%, rgba(0, 0, 0, 0.6) 2%);
}
.details__container {
    width: 90vw;
    margin: 0 auto;
    position: relative;
    top: 80px;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: space-evenly;
}
.details__container .details__img {
    flex: 0.3;
}
.details__container .details__img img {
    display: block;
    border-radius: 1vmax;
    margin: 0 auto;
    width: 23vw;
    max-width: 300px;
    transition: 0.3s;
}
.details__container .details__img img:hover {
    box-shadow: 0px 5px 12px 10px rgba(235, 61, 93, 0.403);
}
.details__detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0.7;
    color: var(--white);
}
.details__detail .details__name {
    font-size: calc(10px + 4vw);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 0.9;
}
.details__name span {
    color: var(--gray);
    font-weight: 400;
    font-size: calc(15px + 2vw);
}
.details__desc {
    font-size: 1.3rem;
    color: #fff;
    text-transform: capitalize;
    font-weight: lighter;
}
.details__desc strong {
    font-weight: bold;
    display: inline-block;
    font-weight: normal;
    width: 130px;
}

.details__detail .play {
    background-color: var(--red);
    padding: 12px 20px;
    border-radius: 1vmax;
    transition: 0.3s ease-in-out;
}
.play:hover {
    transform: scaleX(1.1);
}
.details__detail .disc {
    font-size: calc(12px + 0.5vw);
    font-weight: 300;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    width: 90%;
    color: #ddd;
}
.details__detail .price {
    font-size: calc(14px + 0.5vw);
}
.details__detail .price span {
    margin-right: 20px;
}

@media (max-width: 50em) {
    .details__container {
        gap: 10px;
    }
    .details__desc {
        width: 90%;
        margin: auto;
    }
}
@media (max-width: 40em) {
    .details__main {
        min-height: 120vh;
    }
    .details__name {
        margin-top: 15px;
    }
    .details__container {
        display: block;
    }
    .details__container .details__img img {
        display: block;
        width: 180px;
        object-fit: contain;
    }
    .details__detail {
        justify-content: space-between;
    }
}

/*
    SocialSection
*/
.SocialSection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 300px;
}
.SocialSection .box-shadow {
    position: absolute;
    width: 50px;
    top: 0;
    left: -50px;
    bottom: 0;
    background: linear-gradient(to right, transparent, var(--black-800));
}

/*
    Player Button SVG
*/
.playbtn {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    svg {
        width: 70px;
    }

    .text {
        font-size: 20px;
        transition: all 0.7s ease-in-out;
    }
    .triangle {
        stroke-dasharray: 240;
        stroke-dashoffset: 480;
        stroke: white;
        transform: translateY(0);
        transition: all 0.7s ease-in-out;
    }
    .circle {
        stroke: white;
        stroke-dasharray: 650;
        stroke-dashoffset: 1300;
        transition: all 0.5s ease-in-out;
    }
    &:hover {
        .text {
            color: var(--red);
        }
        .triangle {
            stroke-dashoffset: 0;
            opacity: 1;
            stroke: var(--red);
            animation: trailorPlay 0.7s ease-in-out;
        }
        .circle {
            stroke-dashoffset: 0;
            stroke: var(--red);
        }
    }
}
