@import '../../global.scss';

.mediaSection {
    display: flex;
}
@media screen and (max-width: 600px) {
    .mediaSection {
        display: block;
    }
}
// CastSection
.castSection_main {
    overflow-y: hidden;
    /* position: relative; */
}
.castSection_container {
    padding: 10px 0;
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.castSection_container::-webkit-scrollbar {
    height: 8px;
}
.castSection_container::-webkit-scrollbar-thumb {
    background: var(--black-700);
}
.castSection_card {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 130px;
    box-shadow: 0 1px 5px 1px var(--black-600);
}
.castSection_card .castSection_img {
    width: 130px;
}
.castSection_img img {
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
    background-position: bottom;
    border: 1px solid #aaa;
}
.castSection_name {
    font-size: 18px;
}
.castSection_char {
    font-size: 12px;
}

// social-section
.social-section {
    display: block;
    margin: 10px auto;
    width: 90vw;
    @include md {
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-content: space-evenly;
        gap: 10px;
    }
}

// Socials
.socials_icons {
    display: flex;
    gap: 10px;

    .icon {
        background-color: #fff;
        padding: 4px;
        transition: scale 0.3s ease-in-out;

        &:hover {
            scale: 0.9;
        }
    }
}
.socials_keywords {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .keyword {
        flex-grow: 2;
        padding: 5px 10px;
        /* background: gray; */
        border: 1.5px solid var(--black-700);
        color: var(--white);
        text-transform: capitalize;
        font-size: 14px;
        border-radius: 4px;
        cursor: pointer;
    }
}

/*
    Detail
*/
.details__main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.details__main::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, var(--black-800) 0%, rgba(0, 0, 0, 0.6) 2%);
}
.details__container {
    width: 90vw;
    margin: 0 auto;
    position: relative;
    top: 80px;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: space-evenly;
}
.details__container .details__img {
    flex: 0.3;
}
.details__container .details__img img {
    display: block;
    border-radius: 1vmax;
    margin: 0 auto;
    width: 23vw;
    max-width: 300px;
    transition: 0.3s;
}

.details__detail {
    flex: 0.7;
}

.details__detail .details__name {
    font-size: calc(20px + 2vw);
    color: var(--green);
}
.details__detail table td {
    padding-left: 15px;
}
.details__detail table td:first-child {
    font-size: 18px;
    width: 30%;
    text-transform: capitalize;
}

.details__detail .playbtn {
    color: var(--red);
    font-size: 1.4rem;
    font-weight: 600;
    margin: 20px auto;
}

.details__detail .disc p {
    font-size: 16px;
    font-weight: 400;
    font: sans-serif;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    width: 90%;
    color: var(--yellow);
}

@media (max-width: 50em) {
    .details__container {
        gap: 10px;
    }
}
@media (max-width: 40em) {
    .details__main {
        min-height: 140vh;
    }
    .details__name {
        margin-top: 15px;
    }
    .details__container {
        display: block;
    }
    .details__container .details__img img {
        display: block;
        width: 180px;
        object-fit: contain;
    }
    .details__detail {
        justify-content: space-between;
    }
}

/*
    SocialSection
*/
.SocialSection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 300px;
}

/*
    Player Button SVG
*/
.playbtn {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    svg {
        width: 70px;
    }

    .text {
        font-size: 20px;
        transition: all 0.7s ease-in-out;
    }
    .triangle {
        stroke-dasharray: 240;
        stroke-dashoffset: 480;
        stroke: var(--green);
        transform: translateY(0);
        transition: all 0.7s ease-in-out;
    }
    .circle {
        stroke: white;
        stroke-dasharray: 650;
        stroke-dashoffset: 1300;
        transition: all 0.5s ease-in-out;
    }
    &:hover {
        .text {
            color: var(--red);
        }
        .triangle {
            stroke-dashoffset: 0;
            opacity: 1;
            stroke: var(--red);
            animation: trailorPlay 0.7s ease-in-out;
        }
        .circle {
            stroke-dashoffset: 0;
            stroke: var(--red);
        }
    }
}
