:root {
  --black-900: rgb(8, 8, 10);
  --black-800: rgb(13, 12, 15);
  --black-700: rgb(30, 30, 30);
  --black-600: rgb(40, 38, 45);
  --gray: rgb(156, 164, 171);
  --white: rgb(255, 255, 255);
  --green: rgb(0, 146, 93);
  --red: rgb(235, 61, 93);
  --yellow: rgb(255, 205, 25);
}

.slider__styles {
  height: 100%;
  position: relative;
  transition: 3s ease-in-out;
}

.slide__styles {
  width: 100%;
  height: 100%;
  background-position: top center;
  background-size: cover;
}

.leftArrow__styles,
.rightArrow__styles {
  position: absolute;
  top: 30%;
  transform: translate(0, 50%);
  cursor: pointer;
  color: var(--white);
  padding: 5px 10px;
  border-radius: 100vmax;
  transition: 0.5s ease-in-out;
  font-size: 3rem;
  z-index: 1;
}

.leftArrow__styles {
  left: 32px;
}

.rightArrow__styles {
  right: 32px;
}

.rightArrow__styles:hover {
  color: var(--red);
  transform: translate(20%, 50%);
}
.leftArrow__styles:hover {
  color: var(--red);
  transform: translate(-20%, 50%);
}

.dotsContainer__styles {
  position: absolute;
  bottom: 0;
  left: 5%;
  right: 5%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}
.dots__styles {
  z-index: 1;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid var(--white);
  border-radius: 50%;
}
.dotsActive {
  background: var(--white);
}
